*.d
*.o
*.so
*.a
Makefile
config.log
config.h
config.status
bmptranslator
pngtranslator
appserver
registrar
!/registrar
testdirent
testoskit
testlist
seminfo
portinfo
pulse
!/pulse
testharness
!/testharness
testsem
teststopwatch
teststorage
testsempingpong
guido
!guido/
bedate
!/bedate
calc
!/calc
dekstop
!/desktop
unittester
cosmoe.specs
configure~
*.out
configure
autom4te.cache/*
.*.swp
