*.d
*.o
*.so
*.a
objs
config.log
config.h
config.status
bmptranslator
pngtranslator
appserver
testdirent
testoskit
testlist
seminfo
portinfo
testsem
teststopwatch
teststorage
testsempingpong
**/testharness/testharness
**/registrar/registrar
**/guido/guido
**/bedate/bedate
**/calc/calc
**/desktop/desktop
**/cterm/cterm
**/pulse/pulse
**/calc/calc
**/deskcalc/deskcalc
**/terminal/terminal
unittester
cosmoe.specs
configure~
*.out
*.specs
configure
autom4te.cache/*
.*.swp
core.*
Makefile
**/rc/rc
xres

