Source: cosmoe
Section: graphics
Priority: optional
Maintainer: Bill Hayden <hayden@haydentech.com>
Build-Depends:
 debhelper-compat (= 13),
 meson,
 ninja-build,
 pkg-config,
 flex,
 bison,
 libcairo2-dev,
 libpng-dev,
 libjpeg-dev,
 libwebp-dev,
 zlib1g-dev,
 libicu-dev,
 libpango1.0-dev,
 libpixman-1-dev,
 libfontconfig1-dev,
 libglib2.0-dev,
 libx11-dev,
 libx11-xcb-dev,
 libxcursor-dev,
 libxkbcommon-dev,
 libxkbcommon-x11-dev,
 libwayland-dev
Standards-Version: 4.6.2
Homepage: https://cosmoe.org
Rules-Requires-Root: yes

Package: cosmoe
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Cosmoe
 A graphical interface library based on the BeOS API
 .
 Cosmoe is a C++ library that allows developers to build rich, easy-to-code apps using
 the elegant BeOS API.  You can target Linux (both X11 & Wayland), MacOS, Windows, and
 Haiku with one codebase.
